name: CI Test

on:
  push:
    branches: [ main ]
    paths:
      - '**.ts'
      - '**.json'
      - '**.scss'
      - '**.css'
  pull_request:
    paths:
      - '**.ts'
      - '**.json'
      - '**.scss'
      - '**.css'

permissions: read-all

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Use Node.js
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: '20'
        cache: 'npm'

    - name: Build and Test
      id: build
      run: |
        npm ci
        npm run build
        npm run test
