name: CI Test

on:
  push:
    branches: [ main ]
    paths:
      - '**.ts'
      - '**.json'
      - '**.scss'
      - '**.css'
  pull_request:
    paths:
      - '**.ts'
      - '**.json'
      - '**.scss'
      - '**.css'

permissions: read-all

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Use Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: '20'
        cache: 'npm'

    - name: Build and Test
      id: build
      run: |
        npm ci
        npm run build
        npm run test
